#h-nav{
    position:fixed;
    z-index: 999;
    right:-150%;
    width:100%;
    height: 100vh;
    background:#999;
    transition: all 0.6s;
    background: rgba(255,255,255,0.4);
}

#h-nav.panelactive{
    right: -40%;
}

#h-nav.panelactive #h-nav-list{
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
     background: rgba(255,255,255,0.4);
}

#h-nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:20%;
    transform: translate(-50%,-50%);
}


#h-nav li{
    list-style: none;
    text-align: left;
}

#h-nav li a{
    color: #333;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.open-btn{
    position:fixed;
    z-index: 1111;
    top:16px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height:50px;
}
    
.open-btn span{
    display: inline-block;
    transition: all .3s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
  }

.open-btn span:nth-of-type(1) {
    top:15px;	
}

.open-btn span:nth-of-type(2) {
    top:23px;
}
 
.open-btn span:nth-of-type(3) {
    top:31px;
    width: 35%;
}

.open-btn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.open-btn.active span:nth-of-type(2) {
    opacity: 0;
}

.open-btn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
@media all and (min-width: 900px){
    .open-btn {
      display: none;
    }
  }
.ols{
                transition: all 0.3s;
                display: block;
                padding: 12px 12px;
                max-width: 300px;
                text-decoration: none;
                bottom: 95px;
                position: absolute;
                color: rgba(0,128,128);
                background-color: #eeeeee;
                right: 90px;
}